
assets/*
assets/xmb/*
!assets/xmb
!assets/xmb/automatic
autoconfig/*
!autoconfig/mfi
bios
cht
config/*.lpl
!config/content_favorites.lpl
cores
database
downloads
info
logs
overlays
playlists/logs
retroarch-shortcuts
saves
screenshots
shaders/shaders_slang
shaders/retroarch.slangp
states
thumbnails
mame.xml
