
assets/*
assets/xmb/*
!assets/xmb
!assets/xmb/automatic
autoconfig/*
!autoconfig/mfi
cht
playlists/builtin/*.lpl
!playlists/builtin/content_favorites.lpl
cores
database
downloads
info
logs
overlays
playlists/logs
saves
screenshots
shaders/shaders_slang
states
system
thumbnails
