
assets/*
!assets/xmb/custom
autoconfig/*
!autoconfig/mfi-custom.cfg
cht
cores
database/*
!database/mamexml
downloads
info
logs
overlays
playlists/builtin
playlists/logs
saves
screenshots
shaders/shaders_slang
states
system
thumbnails
